header {
  display: flex;
  justify-content: center;
  background: linear-gradient(#90e0ef, #00b4d8);
  padding: 15px;
}

#searchButton {
  width: 300px;
  background-color: #00b4d8;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

#cityInput {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}

#searchHeader {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}

breakClass {
  border-bottom: 2px solid grey;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.cityNames {
  width: 300px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: darkgray;
  border-radius: 10px;
}

#response-container {
  margin-bottom: 15px;
}

.card {
  width: 100%;
  padding: 10px;
}

.info {
  margin-top: 7px;
  display: block;
}

.cityDate {
  font-size: 20px;
  font-weight: 700;
}

.currentWeatherContainer {
  padding: 15px;
}

.day {
  background-color: rgb(54, 54, 92);
  color: white;
  padding: 15px;
  margin-right: 20px;
}