header {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(#90e0ef, #00b4d8); */
  background: #000000;
  color: #ffff;
  padding: 15px;
  width: 100%;
}

body {
  background-color: #14213D;
  color: #ffff;
}

.sidebar {
  width: 25%;
}

#searchButton {
  width: 300px;
  background-color: #982649;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

#cityInput {
  width: 300px;
  height: 50px;
  border-radius: 5px ;
  padding: 10px;
}

#searchHeader {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}

.breakClass {
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.cityNames {
  width: 300px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #982649;
  color: #ffff;
  border-radius: 10px;
  border-color: #982649;
}

#response-container {
  margin-bottom: 15px;
}

.card {
  padding: 10px;
  border-color: #247ba0;
  background-color: #14213D;
  color: #ffff;
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 #247ba0;
}

.currentCard{
  width: 80%;
}

.forecastCard {
  width: 18%;
  padding: 10px;
}

.info {
  margin-top: 7px;
  display: block;
}

.cityDate {
  font-size: 20px;
  font-weight: 700;
}

.currentWeatherContainer {
  padding: 15px;
}

.days {
  padding: 8px;
  margin-right: 20px;
  width: 17%;
  transition: 0.3s;
}
 
.card:hover {
  box-shadow: 0 8px 16px 0 #982649;
}