header {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(#90e0ef, #00b4d8); */
  background: #14213D;
  color: #ffff;
  padding: 15px;
}

#searchButton {
  width: 300px;
  background-color: #00b4d8;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

#cityInput {
  width: 300px;
  height: 50px;
  border-radius: 5px ;
  padding: 10px;
  
}

#searchHeader {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
}

.breakClass {
  border-bottom: 2px solid grey;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
}

.cityNames {
  width: 300px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #90e0ef;
  border-radius: 10px;
  border-color: #982649;
}

#response-container {
  margin-bottom: 15px;
}

.card {
  padding: 10px;
  border-color: #982649;
}

.currentCard{
  width: 100%;
}

.forecastCard {
  width: 18%;
  padding: 10px;
}

.info {
  margin-top: 7px;
  display: block;
}

.cityDate {
  font-size: 20px;
  font-weight: 700;
}

.currentWeatherContainer {
  padding: 15px;
}

.days {
  background-color: #90e0ef;
  padding: 8px;
  margin-right: 20px;
  width: 17%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
 
.days:hover {
  box-shadow: 0 8px 16px 0;
  color: #982649;
}